extends layout

block scripts
  script(src="/assets/jquery/jquery.js")
  script(src="/build/app.js")

block content
  h1 Epic Dev Environment Workflow
  p Welcome to #{title} - the most epic web work flow ever!
  p the results are: 
    span#results
