extends layout

block scripts
  script(src="/assets/jquery/jquery.js")

block content
  .center
    h1.title Delete Your IDE
    h2.sub-title Building A #BADA55 Node Dev Env
  p Some content goes here
